<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>

        <br><br>
        <button><a href="/auth/google">Google</a></button>
    </body>
</html>